#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.worksTitle{
 margin:  1rem 0;
 font-size: 3rem;
}
.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    margin: 10px;

}
.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;

}
.worksImg{
    object-fit: fill;
    height: 40rem;
    margin: 0.1rem;
    flex-wrap: wrap;
    width: 36vw;
    border-radius: 5px solid rgb(198, 18, 48);
    padding: 40px;

}
@media screen and (max-width:768px){
    .worksImgs{
         width: 100vw;
         
    }
    .worksImg{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
    .worksTitle{
        text-align: center;
        font-size: 50px;
        width: 100%;
        /* background-color: aqua; */
        /* margin-right: -40px; */

    }
    .worksDesc{
        /* margin-right: -30px; */
        padding: 5px;
        width: 90%;
    }
   
}
